@import url('http://fonts.cdnfonts.com/css/billabong');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    display: flex;
}

.box_cadastro {
    margin-left: 100px;
    height: 100vh;
    width: 37.735849056603776vw;
    background-color: #F9A826;
    background-image: url(../assets/ilustration.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_cadastro h1 {
    font-family: 'Billabong', sans-serif;
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    font-weight: 100;
    margin-top: 60px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 380px;
}

input {
    width: 350px;
    height: 50px;
    border: 3px solid #FFFFFF;
    border-radius: 50px;
    background-color: transparent;
    padding-top: 5px; 
    padding-left: 15px; 
    color: #FFFFFF;
    font-family: 'Poppins',sans-serif;
    text-transform: capitalize;
    font-size: 20px;
}

input::placeholder {
    color: #FFFFFF;
    font-family: 'Poppins',sans-serif;
    text-transform: capitalize;
    font-size: 20px;
}

input:focus{
    outline: none;
}

button {
    width: 150px;
    height: 50px;
    border: 3px solid #3670FF;
    color: #3670FF;
    background-color: transparent;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 20px;
}

button:hover {
    background-color: #3670FF;
    color: white;
    transition: 600ms;
    cursor: pointer;
}

.reconhecimento {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px
}

.reconhecimento img {
    image-resolution: 100%;
    height: 150px;
    /* ; */
}

/* button:focus::after {
    background-color: #3670FF
} */